{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block title %}Register{% endblock title %}

{% block content %}

<script src="https://checkout.flutterwave.com/v3.js"></script>

<br><br><br><br><br><br>
<div class="contact_form_section">
    <div class="container">
        <div class="row">
            <div class="col">

                <!-- Contact Form -->
                <div class="contact_form_container">
                    <div class="contact_title text-center">Load Wallet <small> || (N{{ account_balance|intcomma }})</small></div>
                    <form method="POST" id="contact_form" class="contact_form text-center">
                        {% csrf_token %}
                        <input type="number" name="amount" class="contact_form_subject input_field" placeholder="Enter Amount to load" required="required" data-error="Subject is required.">
                        <input type="checkbox" name="agree" class="contact_form_subject input_field" placeholder="Password" required="required" data-error="Subject is required.">
                        <button onclick="makePayment()" type="submit" id="form_submit_button" class="form_submit_button button trans_200">
                            Load Wallet Now<span></span><span></span><span></span>
                        </button>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>

<script>
    let user_id = "{{user.id}}"
    let pay = "{{pay}}"


    function makePayment() {
        FlutterwaveCheckout({
            public_key: "FLWPUBK-d97499b29322ef88e15be889f0131bcc-X",
            tx_ref: "titanic-48981487343MDI0NzMx",
            amount: account_balance,
            currency: "NGN",
            payment_options: "card, mobilemoneyghana, ussd",
            redirect_url: "https://127.0.0.1:8000/confirm_load_wallet/"+user_id,
            meta: {
            consumer_id: 23,
            consumer_mac: "92a3-912ba-1192a",
            },
            customer: {
            email: "rose@unsinkableship.com",
            phone_number: "08102909304",
            name: "Rose DeWitt Bukater",
            },
            customizations: {
            title: "SMCS",
            description: "Bus Ticket Payment",
            logo: "https://www.logolynx.com/images/logolynx/22/2239ca38f5505fbfce7e55bbc0604386.jpeg",
            },
        });
        }
</script>
{% endblock content %}